<!DOCTYPE html>
<html lang="en">
    <head>
        {%- block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        {%- endblock %}
        {%- block title %}
        <title>{{ page.title }}</title>
        {%- endblock %}
        {% include cmpt.favicon %}
        {%- block links %}
        <link rel="stylesheet" href="/{{ site.root }}/css/tailwind.min.css">
        <link rel="stylesheet" href="/{{ site.root }}/css/global.css">
        <link rel="stylesheet" href="/{{ site.root }}/css/highlight.css">
        {%- endblock %}
        {%- block scripts %}
        <script defer src="/{{ site.root }}/js/brands.min.js"></script>
        <script defer src="/{{ site.root }}/js/solid.min.js"></script>
        <script defer src="/{{ site.root }}/js/fontawesome.min.js"></script>
        {%- endblock %}
    </head>

    <body class="{%- block body_style %}{%- endblock %}">
        {%- block header %}
        {%- endblock %}
        {%- block body %}
        {%- endblock %}
        {% include cmpt.footer %}
    </body>

</html>