{% extends lyt.base %}

{% block title %}
<title>{{ page.title }}</title>
{% endblock %}

{% block links %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% include cmpt.blog.nav.nav_logic %}
{% endblock %}

{% block header %}
{% include cmpt.header %}
{% endblock %}

{% block body %}
<div class="grid grid-cols-11 grid-rows-1">
    {% include cmpt.blog.nav.nav %}
    <article
        class="prose prose-pre:shadow prose-pre:shadow-slate-700 w-full max-w-[50rem] mx-auto col-start-1 col-span-full md:mx-0 md:col-span-7 md:col-start-2 row-start-2 md:row-start-1">
        {{ content }}
    </article>
    {% include cmpt.blog.toc.toc %}
</div>
<div class="flex-1"></div>
{% endblock %}