@import url('https://fonts.googleapis.com/css?family=Poppins:400');

* {
    scroll-behavior: smooth;
    scroll-margin: 4.5rem;
}

html {font-size: 16px;} /*16px*/

body {
  font-family: 'Poppins', sans-serif;

  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

a {
    text-underline-offset: 2px;
    color: black;
    font-weight: normal;
    margin: 0;
}

a:hover {
    text-underline-offset: 4px;
}

ul {
    list-style-type: disc;
}

ul ul {
    padding-left: 1.5rem;
    list-style-type: circle;
}

.content, article {
    position: relative;
    width: 100%;
    
    padding: 2rem;
    margin-inline: auto;

    ol, ul {
        padding-left: 1.5rem;
    }

    ul {
        list-style: disc;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

pre {
    padding: .75rem;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

hr {
    margin-block: 1rem;
}

.highlight {
    border-radius: .5rem;
}

.footnote-ref {
    color: #21421e;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.footnote-backref {
    color: #21421e;
    .fn-backlink {
        width: fit-content;
    }
}

.footnote {
    height: fit-content;
    li {
        p {
            display: flex;
            align-items: center;
            margin-block: .5rem;
        }
    }
}

dl {
    display: flex !important;
    flex-flow: row wrap !important;
    border: solid #333 !important;
    border-width: 1px 1px 0 0 !important;
}
dt {
    flex-basis: 20% !important;
    padding: 2px 4px !important;
    background: #333 !important;
    text-align: right !important;
    color: #fff !important;
}
dd {
    flex-basis: 70% !important;
    flex-grow: 1 !important;
    margin: 0 !important;
    padding: 2px 4px !important;
    border-bottom: 1px solid #333 !important;
}

code {
    &::before, &::after {
        display: none;
    }
    
    font-family: 'Poppins', sans-serif;
    background-color: rgb(231, 231, 231);
    padding-block: .25rem;
    padding-inline: .4rem;
    border-radius: .25rem;
}

.article-section {
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
}