.article-tag-list {
  width: 85%;
  max-width: 75ch;
  margin-inline: auto;

  margin-top: 1.5rem;
}
.article-tag-list > div {
  width: fit-content;
  display: flex;
  gap: 0.5rem;
}
.article-tag {
  background-color: #98b3a7;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
  color: #282a3a;
}

.emojione {
  aspect-ratio: 1/1;
  width: 1.3rem;
  margin-inline: 0.25rem;
}

.spacer {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

#posts {
  list-style: disc;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#posts > li {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#posts > li > div {
  display: flex;
  gap: 0.5rem;
}

#posts > li > div > small {
  background-color: #98b3a7;
  padding: 0.1rem 0.35rem;
  border-radius: 1rem;
  color: #282a3a;
}

main {
  width: 95%;
  max-width: 70%;
  margin-inline: auto;
}

.mt-2 {
  margin-top: 2rem;
}
