.spacer {
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding-inline: 2rem;
    padding-block: .75rem;

    #credits {
        justify-content: end;
        small {
            font-size: .7rem;
            opacity: .5;
            color: gray;
            a {
                color: rgb(76, 76, 255);
            }
        }
    }

    #footlinks {
        display: flex;
        justify-content: start;

        a {
            font-size: 1.1rem;
            color: black;

            &:hover {
                color: gray;
            }
        }
    }

    #info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .flex-1 {
        flex: 4;
    }

    .flex-2 {
        flex: 5;
    }
}