#header {
    background-color: rgba(255, 255, 255, 0.951);
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -2px rgba(0,0,0,.1);
    border-bottom: 2px solid white;
    
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    padding-block: 1rem;
    padding-inline: 2rem;
    height: 4.5rem;
    
    &>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 80rem;
        margin-inline: auto;
        &>div {
            flex: 1;
        }
        &>div:nth-child(1) {
            display: flex;
            justify-content: start;
        }
        &>div:nth-child(2) {
            display: flex;
            justify-content: center;
        }
        &>div:nth-child(3) {
            display: flex;
            justify-content: end;
        }

        button {
            background-color: transparent;
            border: none;
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:focus {
                outline: none;
                border: none;
                background-color: transparent;
            }

            &:hover {
                svg {
                    color: #21421e;
                    transform: scale(1.1);
                }
            }

            svg {
                color: #21421e;
                width: 2rem;
                height: 2rem;
                transition: transform ease-in-out 0.1s;
            }
        }

        nav {
            display: flex;
            align-items: center;
            gap: 2rem;
        
            width: fit-content;
        }

        nav a, h3 {
            width: fit-content;
            margin: 0;
            padding: 0;
        
            color: #21421e;
        
            letter-spacing: 1px;
        }

        &>div>a {
            text-decoration: none;
        }
    }
}