@import url('https://fonts.googleapis.com/css?family=Poppins:400');

* {
    scroll-behavior: smooth;
    scroll-margin: 4.5rem;
}

html {font-size: 16px;} /*16px*/

body {
  font-family: 'Poppins', sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}

a {
    text-underline-offset: 2px;
    color: black;
}

a:hover {
    text-underline-offset: 4px;
}

ul {
    list-style-type: none;
}

ul ul {
    padding-left: 1.5rem;
    list-style-type: circle;
}

.content, article {
    position: relative;
    width: 100%;
    max-width: 60rem;
    
    padding: 2rem;
    margin-inline: auto;

    ol, ul {
        padding-left: 1.5rem;
    }

    ul {
        list-style: disc;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

pre {
    padding: .75rem;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

hr {
    margin-block: 1rem;
}

.highlight {
    border-radius: .5rem;
}

.footnote-ref {
    color: #21421e;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.footnote-backref {
    color: #21421e;
    .fn-backlink {
        width: fit-content;
    }
}

.footnote {
    height: fit-content;
    li {
        p {
            display: flex;
            align-items: center;
            margin-block: .5rem;
        }
    }
}


@import "nav";