<aside id="nav-aside"
    class="w-[15rem] top-[4.5rem] left-[1px] absolute overflow-x-hidden overflow-y-auto z-10 transition-all ease-in-out delay-300 rounded-br-2xl bg-lime-900/[98] text-white shadow-md hide-aside">
    <div class="inner-nav p-2 m-2 border-2 border-dashed border-lime-50/40 rounded-br-2xl">
        <ul>
            {% for nav_item in nav_data.children %}
            {% if nav_item.children %}
            {% include cmpt.nav.sub_nav %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</aside>