.highlight {
    border-radius: .25rem;
    width: 100%;
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-block: 1.5rem;
}

pre {
    padding: 1rem;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

article {
    width: 85%;
    max-width: 65ch;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 2rem;
}

p code {
    background-color: #3e4057;
    padding: .25rem;
    border-radius: .15rem;
    white-space: nowrap;
}