{% extends lyt.base %}

{% block title %}
<title>{{ site.name }}</title>
{% endblock %}

{% block links %}
{{ super() }}
<link rel="stylesheet" href="/Mophidian/home.css">
{% endblock %}

{% block header %}
{% include cmpt.home.header %}
{% endblock %}

{% block body %}
<div class="my-auto w-full flex flex-col justify-center items-center">
    <img class="w-[15rem] h-auto" src="/Mophidian/img/casual-life-3d-green-notebook-with-orange-bookmark.png"
        alt="Green Book" />
    <h3 class="text-lime-900 text-xl mt-8 w-fit">A simple yet effective python SSG</h3>
</div>
{% endblock %}