<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/global.css">
        <title>Mophidian</title>
    </head>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .box {
            padding: 1rem;
            border-size: 1px;
            border-style: solid;
            border-color: black;
            width: fit-content;
        }
    </style>

    <body>
        <div class="box">
            <h2>Hello and welcome to Mophidian, a SSG made in python.</h2>
            <h5>My goal is to make something that is easy to use, but also gives you as many features as possible.</h5>
            <p>
                Please checkout my
                <a href="https://github.com/Tired-Fox/Mophidian" class="underline">
                    github
                </a>
                to see the current status of the project. Also, checkout the <a
                    href="https://tired-fox.github.io/Mophidian/docs/">docs</a> and <a
                    href="https://tired-fox.github.io/Mophidian/blog/">blog</a> to learn more
                about Mophidian.
            </p>
            <a href="/getting_started/"><strong>Getting Started</strong></a>
        </div>
    </body>

</html>