{%- if toc|length > 0 %}
<aside id="toc-aside"
    class="text-black w-[95%] mx-auto flex justify-center col-span-full col-start-1 row-start-1 md:col-span-3 md:col-start-9">
    <div
        class="w-full h-fit relative mt-2 py-4 px-8 bg-slate-100 rounded-md shadow shadow-slate-300 md:mr-5 md:mt-0 md:w-fit md:sticky md:top-[7rem]">
        <p class="font-bold mb-2">Table of Contents</p>
        <ul class="list-none">
            {%- for link in toc %}
            <li>
                <a class="text-black no-underline hover:underline hover:text-lime-900" href="{{link.url()}}"
                    aria-label="Jump to {{link.title|title}}">
                    {{ link.title|title }}
                </a>
            </li>
            {%- if link.children|length > 0 %}
            {% include cmpt.blog.toc.sub_toc %}
            {%- endif %}
            {%- endfor %}
        </ul>
    </div>
</aside>
{%- endif %}