* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

p {
  font-size: 1.125rem;
  line-height: 1.25;
}

.footnote-backref > .fn-backlink {
  width: 0.5rem;
  height: auto;
}
