<div id="home-header" class="w-full py-4 flex justify-center items-start">
    <nav class="w-fit grid grid-cols-2 md:grid-cols-4 gap-6 items-end">
        <a class="col-span-1 row-start-2 col-start-1 tracking-wide text-center text-lime-900 text-lg hover:underline underline-offset-2 md:row-start-1 md:col-start-1 md:text-right"
            href="/{{ site.root }}/blog/">
            Blog
        </a>
        <a class="w-fit no-underline col-span-2 row-start-1 col-start-1 md:col-start-2" href="/{{ site.root }}/">
            <h1 class="tracking-wide text-lime-900 text-5xl font-bold">Mophidian</h1>
        </a>
        <a class="col-span-1 row-start-2 col-start-2 text-center tracking-wide text-lime-900 text-lg hover:underline underline-offset-2 md:row-start-1 md:col-start-4 md:text-left"
            href="/{{ site.root }}/docs/">
            Docs
        </a>
    </nav>
</div>