<div id="home-header" class="w-full py-4 flex justify-center items-start">
    <nav class="flex items-end gap-20 w-fit">
        <a class="w-fit tracking-wide text-lime-900 text-lg hover:underline underline-offset-2"
            href="/{{ site.site_dir }}/blog/">Blog</a>
        <a class="w-fit no-underline" href="/{{ site.site_dir }}/">
            <h1 class="tracking-wide text-lime-900 text-5xl font-bold">Mophidian</h1>
        </a>
        <a class="w-fit tracking-wide text-lime-900 text-lg hover:underline underline-offset-2"
            href="/{{ site.site_dir }}/docs/">Docs</a>
    </nav>
</div>