<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        
        {% block links %} 
        <link rel="stylesheet" href="style.min.css">
        {% endblock %}

        {% block scripts %} 
        {% endblock %}

        <title>{% block title %}{{ title if title else "Document" }}{% endblock %}</title>
    </head>
    <body>
        {% block header %}{% include "base/header.jinja" %}{% endblock %}
        {% block content %}{{ content }}{% endblock %}
        {% block footer %}
        <div class="flex-grow flex-shrink"></div>
        {% include "base/footer.jinja" %}
        {% endblock %}
    </body>
</html>