{% extends "base/base.jinja" %}
{% block scripts %}
    {% if include_highlight and include_highlight == True -%}
    {{ highlightTags }}
    {%- endif %}
    {% if include_math and include_math == True -%}
    {{ mathTags }}
    {%- endif %}
    <script>
        window.onload = () => {
            {% block onload %}
                {% if include_highlight and include_highlight == True +%}
                {{ onloadHighlight }}
                {% endif %}
                {% if include_math and include_math == True +%}
                {{ onloadMath }}
                {% endif %}
            {% endblock %}
        }
    </script>
{% endblock %}

{% block content %}
    <article>
        {{ super() }}
    </article>
{% endblock %}