{% extends lyt.base %}

{% block title %}
<title>{{ page.title }}</title>
{% endblock %}

{% block links %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% include cmpt.nav.nav_logic %}
{% endblock %}

{% block header %}
{% include cmpt.header %}
{% endblock %}

{% block body %}
{% set nav_data = nav.get_dir("blog") %}
<div class="article-section">
    {% include cmpt.nav.nav %}
    <article class="prose max-w-[50rem] col-span-8">
        {{ content }}
    </article>
</div>
<div class="flex-1"></div>
{% endblock %}