<div class="spacer"></div>
<footer>
    <div id="footlinks" class="flex-1">
        <a href="https://github.com/Tired-Fox/Mophidian" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <div id="info" class="flex-2">
        <small>&copy; 2022 Zachary Boehm. All Rights Reserved.</small>

        <div id="credits">
            <small>Illustrations by Icons 8</a> from <a href="https://icons8.com/illustrations">Ouch!</a></small>
        </div>
    </div>
</footer>