<footer class="flex justify-center w-full px-8 py-3 h-16">
    <div id="footlinks" class="flex-[4] flex justify-start">
        <a class="text-[1.1rem] text-black hover:text-gray-500" href="https://github.com/Tired-Fox/Mophidian"
            target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <div id="info" class="flex-[5] flex justify-center flex-col">
        <small>&copy; 2022 Zachary Boehm. All Rights Reserved.</small>

        <div id="credits">
            <small class="text-[.7rem] opacity-50 text-gray-500">Illustrations by Icons 8 from <a
                    class="text-blue-400/80" href="https://icons8.com/illustrations" target="_blank">Ouch!</a></small>
        </div>
    </div>
</footer>