<div id="header lg:hidden"
    class="bg-white/95 shadow-sm border-b-2 border-solid border white sticky top-0 z-10 w-full py-4 px-8 h-[4.5rem]">
    <div class="flex justify-between items-center max-w-[80rem] mx-auto">
        <div class="flex-1 flex justify-start">
            <button
                class="bg-transparent border-none w-10 h-10 flex justify-center itemscenter cursor-pointer focus:outline-none focus:border-none focus:bg-transparent text-lime-900 hover:text-gray-500"
                onclick="toggleMenu()">
                <svg class="w-8 h-8 transition-transform ease-in-out delay-100" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                </svg>
            </button>
        </div>
        <div class="flex-1 flex justify-center">
            <a class="w-fit tracking-wide no-underline" href="/{{ site.root }}/">
                <h3 class="text-lime-900 text-2xl font-bold">Mophidian</h3>
            </a>
        </div>
        <div class="flex-1 flex justify-end">
            <nav class="flex items-center gap-8 w-fit">
                <a class="w-fit underline-offset-2 text-lime-900 tracking-wide hover:underline"
                    href="/{{ site.root }}/blog/">Blog</a>
                <a class="w-fit underline-offset-2 text-lime-900 tracking-wide hover:underline"
                    href="/{{ site.root }}/docs/">Docs</a>
            </nav>
        </div>
    </div>
</div>