<div
    class="w-[95%] max-w-[65rem] mx-auto p-4 border border-solid border-slate-200 flex justify-between items-center rounded-lg justify-self-center mb-2">
    {%- if page.previous.title %}
    <a class="text-right hover:underline font-bold flex gap-2" href="{{page.previous.url}}" title="Previous">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
        </svg>
        {{page.previous.title if page.previous.title != "Index" else section_name|title }}
    </a>
    {%- endif %}
    {%- if page.next.title %}
    <a class="hover:underline font-bold flex gap-2" href="{{page.next.url}}" title="Previous">
        {{page.next.title if page.next.title != "index" else section_name|title }}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
        </svg>
    </a>
    {%- endif %}
</div>