@import url("https://fonts.googleapis.com/css?family=Poppins:400");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

article {
    margin-inline: 1rem;
}

[id^=nav-]:not([id=nav-home]) :is(ul, ol) {
    padding-left: 1rem;
}

ul, ol {
    padding-left: 2rem;
}

.toc-1 {
    margin-left: .25rem;
}

.toc-2 {
    margin-left: .50rem;
}

.toc-3 {
    margin-left: .75rem;
}

.toc-4 {
    margin-left: 1rem;
}

.toc-5 {
    margin-left: 1.25rem;
}

.toc-6 {
    margin-left: 1.5rem;
}

