@import url('https://fonts.googleapis.com/css?family=Poppins:400');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {font-size: 100%;} /*16px*/

body {
    font-weight: 400;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

body {
    font-family: "Poppins", sans-serif;
    background-color: #282a3a;
    color: #dcd7c9;
}

a {
    color: #98b3a7;
    text-decoration: underline dotted;
    text-underline-offset: .2rem;
}