<aside id="nav-aside"
    class="w-full text-black flex justify-center col-span-1 col-start-1 row-span-1 hide-aside md:hidden">
    <div class="fixed w-screen h-screen z-10 bg-slate-50 flex flex-col justify-center items-center md:hidden">
        <div class="absolute top-4 w-full flex justify-between px-8 md:hidden">
            <button class="border-none focus:outline-none bg-transparent text-slate-700" onclick="toggleMenu()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-7 h-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
            <div></div>
        </div>
        <ul class="flex flex-col gap-4 p-4">
            <a class="text-lime-900 no-underline text-3xl font-bold" href="/{{ site.root }}/blog/">Blog</a>
            <a class="text-lime-900 no-underline text-3xl font-bold" href="/{{ site.root }}/docs/">Docs</a>
        </ul>
    </div>
</aside>