{% if toc|length > 0 %}
<aside id="toc-aside" class="w-full z-10 text-black flex justify-center md:col-span-2 row-start-1 col-start-11">
    <div
        class="inner-toc w-fit h-fit sticky top-[7rem] py-4 px-8 bg-slate-100 rounded-md md:mr-4 shadow-md shadow-slate-400">
        <ul class="list-disc">
            {% for link in toc %}
            <li>
                <a class="text-black no-underline hover:underline hover:text-lime-900" href="{{link.url()}}"
                    aria-label="Jump to {{link.title|title}}">
                    {{ link.title|title }}
                </a>
            </li>
            {% if link.children|length > 0 %}
            {% include cmpt.toc.sub_toc %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</aside>
{% endif %}