<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Snippets</title>
        <link rel="stylesheet" href="/tailwind.css">
    </head>

    <body>
        {% include cmpt.header %}
        <ul>
            {% set vars = {'last_named': "snippets"} %}
            {%- for key, value in nav.snippets.items() recursive %}
            <li class="ml-6">
                {% if value is string %}
                <a href="{{ value }}">{{ vars.last_named }}</a>
                {% elif value is mapping %}
                {%- if vars.update({'last_named': key}) %}{%- endif %}
                <ul>
                    {{ loop(value.items()) }}
                </ul>
                {% endif %}
            </li>
            {%- endfor %}
        </ul>
    </body>

</html>